@model RejestracjaModel

<div class="alert alert-success">
    <h1>Rejestracja zakończona pomyślnie</h1>
</div>

<p>Dane użytkownika:</p>
<ul>
    <li>Imię: @Model.Imie</li>
    <li>Nazwisko: @Model.Nazwisko</li>
    <li>Email: @Model.Email</li>
    <li>Miasto: @Model.Miasto</li>
</ul>